<div class="vertical-container">
    <div class="horizontal-container">
        <div class="add-button">
            <div class="oval-button" (click)="addContact()">New Contact</div>
        </div>
        <div class="search">
            <input type="text" placeholder="Search" [(ngModel)]="searchTerm" (keyup)="applySearchFilter()">
        </div>
    </div>
    <table class="table">
        <tr class="header">
            <th class="col-1">Name</th>
            <th class="col-2">Address</th>
            <th class="col-3">email</th>
            <th class="col-4">phone</th>
        </tr>
        <tr *ngFor = "let contact of filteredContacts" class="row" (click)="editContact(contact.id)">
            <td class="col-1">{{contact.name}}</td>
            <td class="col-2">{{contact.address}}</td>
            <td class="col-3">{{contact.email}}</td>
            <td class="col-4">{{contact.phone}}</td>
        </tr>
    </table>
</div>