<div class="vertical-container phone-bg">
    <div class="horizontal-container">
        <div class="login-box">
            <div class="login-content">
                <h2>Log In</h2>
                <form [formGroup]="form" class="content" (ngSubmit)="onSubmit()">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Email" required email formControlName="email">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password" type="password" required formControlName="password">
                    </mat-form-field>
                    <input class=".oval-button wide-button" [disabled]=!form.valid type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>