<div class="vertical-container">
    <div class="horizontal-container">
        <div class="header">
            <div class="vertical-container">
                <div class="horizontal-container header-login">
                    <div>
                        <a class="link oval-button" style="cursor:pointer" routerLink="login">Sign In</a>
                    </div>
                </div>
                <div class="horizontal-container header-title">
                    <div>
                        <h1>Demo Address Book</h1>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="horizontal-container">
        <div class="content">
            <div class="vertical-container">
                <div>
                    <h2>A simple address book to demonstrate Angular and Single Page Applications.</h2>
                </div>
                <a class="link oval-button" style="cursor:pointer" routerLink="login">Try For Free</a>
            </div>
        </div>
    </div>
</div>
