@import 'variables';

.navbar-custom {  
  margin: 0;
  padding: 10px;
  font-family: $font-stack;
  height: auto;
  padding: 15px;
  background-color: $light-color;
}

.navbar-content {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-brand {
  flex: 1;
  font-size: 1.7em;
  color: $primary-color;
}

.nav-item {
  flex: 1;
}
.link {
  font-size: 1.2em;
  color: $primary-color;
}
