@import 'variables';
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul {
    list-style: none;
}

a {
  text-decoration: none;
}

.link {
  font-size: 1.2em;
  font-family: $font-stack;
  color: $primary-color;
}

.oval-button,
input[type=submit] {
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;
  transition: 0.3s;
  width: fit-content;
}

.oval-button:hover,
input[type=submit]:hover {
  background-color: $secondary-color;
  color: $light-color;
}

.wide-button {
  width: 50px;
}